###############################################
*.sketch
*.xd
*.fig
/design

###############################################
.DS_Store

###############################################
.vscode
/node_modules
.env

###############################################
tasks.txt
style-guide.md

###############################################
/API